<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA90R7xCX7vGSe9vv121Mi-0Xe0Y5i9NEM</string>
	<key>GCM_SENDER_ID</key>
	<string>362887982100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swiperight</string>
	<key>PROJECT_ID</key>
	<string>swiperight-ba820</string>
	<key>STORAGE_BUCKET</key>
	<string>swiperight-ba820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362887982100:ios:fce2072bee38e5f2ee0b01</string>
</dict>
</plist>